# CORE DATA SCIENCE & COMPUTING
pandas
numpy
python-dateutil

# VISUALIZATION
matplotlib
seaborn

# MACHINE LEARNING
scikit-learn
scipy

# EXPLAINABILITY
lime

# UTILITIES
joblib
django
psycopg2-binary
python-dotenv
django-allauth
gunicorn

# JUPYTER NOTEBOOK SUPPORT
jupyterlab
notebook
ipywidgets