# CORE DATA SCIENCE & COMPUTING
pandas
numpy
python-dateutil

# VISUALIZATION
matplotlib
seaborn

# MACHINE LEARNING
scikit-learn
scipy

# EXPLAINABILITY
lime

# UTILITIES
joblib

# JUPYTER NOTEBOOK SUPPORT
jupyterlab
notebook
ipywidgets